*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.drawio binary

*.exe binary
*.bin binary

*.pdf binary

*.zip binary
*.7z binary
*.gz binary
*.tar binary
*.tar.gz binary

*.SLDASM binary
*.SLDPRT binary
*.stp binary
